<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="Salvando...">
  <nb-card-header>
    Editar cliente
    <button nbButton ghost status="danger" size="medium" (click)="cancelar()" style="float: right; margin-top: -5px;" type="button" tabindex="-1">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <label>Nome</label>
    <input nbInput fullWidth placeholder="Nome" [formControl]="form.get('name')" />
    <br /><br />
    <label>Nome da loja</label>
    <input nbInput fullWidth placeholder="Nome da loja" [formControl]="form.get('store_name')" />
    <br /><br />
    <label>E-mail</label>
    <input nbInput fullWidth placeholder="E-mail" [formControl]="form.get('email')" />
    <br /><br />
    <label>Whatsapp</label>
    <input nbInput fullWidth placeholder="Whatsapp" [formControl]="form.get('whatsapp')" />
  </nb-card-body>

  <nb-card-footer style="display: flex; justify-content: center;">
    <button nbButton status="success" (click)="salvar()" [disabled]="loading">Atualizar</button>
  </nb-card-footer>
</nb-card>