<nb-card>
  <nb-card-header>
    Confirmar exclusão
    <button nbButton ghost status="danger" size="medium" (click)="cancel()" style="float: right; margin-top: -5px;" type="button" tabindex="-1">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <p *ngIf="!isMultiple">
      Tem certeza que deseja excluir o canal <strong>{{ canal?.nome }}</strong>?
    </p>
    <p *ngIf="isMultiple">
      Tem certeza que deseja excluir os canais selecionados?
    </p>
    <p>Esta ação não pode ser desfeita.</p>
  </nb-card-body>
  <nb-card-footer style="display: flex; justify-content: center;">
    <button nbButton status="danger" (click)="confirm()">Excluir</button>
  </nb-card-footer>
</nb-card>
