:host {
  display: block;
}

nb-card {
  margin-bottom: 1rem;
}

nb-card-header {
  h3 {
    margin: 0;
    font-weight: 500;
  }
}

.text-right {
  text-align: right;
}

button[nbButton] {
  nb-icon {
    margin-right: 0.5rem;
  }
}