@mixin ngx-pace-theme() {

  .pace .pace-progress {
    background: #ffbb0f;;
  }

  .pace .pace-progress-inner {
    box-shadow: 0 0 10px #ffbb0f, 0 0 5px #ffbb0f;
  }

  .pace .pace-activity {
    display: none;
  }
}
